<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  style="position:relative">
    {% if messages %}
{% for message in messages %}
    
    
<div style="position: absolute;top:-40;padding-left: 20px;background-color: rgb(161, 218, 76);
width:1600px;color:rgb(65, 78, 49)">
    {{message}}
</div>

      {% endfor %}
    
    {% endif %}

    
    <div class="content-section col-md-8 col-md-offset-2">
        <center>
        <form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
          {% csrf_token %}
          <fieldset class="form-group">
            {{ form}}
          </fieldset>
         <center>
          <button style="background: black; font-size: 2rem; padding:1%;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-log-in"></span> &nbsp; login</button>
        </center>
        <br/>
        <sub style="text-align: left;"><a href="{% url 'register' %}" style="text-decoration: none; color: blue; padding:2%; cursor:pointer; margin-right:2%;">don't have account,sign up</a></sub>
        </form>
      </center>
       </div>
</body>
</html>