
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    
<div class="content-section col-md-8 col-md-offset-2">
    <form method="POST"  style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
      {% csrf_token %}
      <div class="container-fluid">  
        <br>  
            <div class="form-group row">  
            <label class="col-sm-1 col-form-label"></label>  
            <div class="col-sm-4">  
            <h3>Enter Details</h3>  
            </div>  
          </div>  
            <div class="form-group row">  
            <label class="col-sm-2 col-form-label">Employee Id:</label>  
            <div class="col-sm-4" >  
             
              {{ form.first_name }}  
              {{ form.last_name }} 
            </div>  
          </div>  
          <div class="form-group row">  
            <label class="col-sm-2 col-form-label">Employee Name:</label>  
            <div class="col-sm-4">  
              {{ form.email}}  
            </div>  
          </div>  
            
            <div class="form-group row">  
            <label class="col-sm-2 col-form-label">Employee Contact:</label>  
            <div class="col-sm-4">  
              {{ form.phone_no }}  
            </div>  
          </div>  
          <div class="form-group row">  
            <label class="col-sm-2 col-form-label">Employee Contact:</label>  
            <div class="col-sm-4">  
              {{ form.password1 }}  
            </div>  
          </div>  
          <div class="form-group row">  
            <label class="col-sm-2 col-form-label">Employee Contact:</label>  
            <div class="col-sm-4">  
              {{ form.password2 }}
            </div>  
          </div>  
        
        
            
            <label class="col-sm-1 col-form-label"></label>  
      <center>
        <button style="background: black; padding:2%; font-size: 2rem; color:white;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-check"></span> &nbsp; sign up</button>
      </center>
      <br />
      <sub><a href="{% url "login" %}" style="text-decoration: none; color: blue; padding:3%; cursor:pointer;">Already have an account ?</a></sub>
    </form>
  </div>
</body>
</html>