<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Karma"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <style>
      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Karma", sans-serif;
      }
      .w3-bar-block .w3-bar-item {
        padding: 20px;
      }
    </style>
  </head>

  <body>
    <!-- Sidebar (hidden by default) -->
    <nav
      class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left"
      style="display: none; z-index: 2; width: 40%; min-width: 300px;"
      id="mySidebar"
    >
      <a
        href="javascript:void(0)"
        onclick="w3_close()"
        class="w3-bar-item w3-button"
        >Close Menu</a
      >
      <a href="#food" onclick="w3_close()" class="w3-bar-item w3-button"
        >Food</a
      >
      <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button"
        >About</a
      >
    </nav>

    <div class="w3-top" >
      <div
        class="w3-white w3-xlarge"
        style="
          width: 100%;
          display: flex;
          height:60px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        "
      >
        <div style="flex: 0.6; display: flex; min-width: 300px">
          <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">
            ☰
          </div>
          <a href="#home" class="w3-button" style="padding-top: 20px"
            >Gourmet au Catering</a
          >
        </div>

        <div style="display: flex; flex: 0.4; justify-items: flex-end;">
          <div class="" style="padding-left:60px;padding-top:18px;">
            <a href="/" style="text-decoration: none"> Home </a>
          </div>

          <div class="" style="padding-left: 40;padding-top: 18px;color: black;">
            <a href="/condition" style="text-decoration: none;"> Blog </a>
          </div>
          <div class="" style="padding-left: 40px;padding-top:18px">
            <a href="/services" style="text-decoration: none;"> Contact</a> 
           </div>
        </div>
      </div>
    </div>
  
    {% block body %}
     {% endblock body %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>

    <script>
      // Script to open and close sidebar
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
      }

      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
      }
    </script>
  </body>
</html>
