{% extends 'fuck.htm' %} {% block body %}

<!-- Top menu -->


<!-- !PAGE CONTENT! -->
<div
  class="w3-main w3-content w3-padding"
  style="max-width: 1200px; margin-top: 100px"
>
  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img
        src="https://images.unsplash.com/photo-1484723091739-30a097e8f929?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=449&q=80"
        alt="Sandwich"
        style="width: 100%"
      />
      <h3>The Perfect Sandwich, A Real NYC Classic</h3>
      <p>
        Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.
      </p>
    </div>
    <div class="w3-quarter">
      <img
        src="https://images.unsplash.com/photo-1620921575116-fb8902865f81?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=80"
        alt="Steak"
        style="width: 100%"
      />
      <h3>Let Me Tell You About This Steak</h3>
      <p>
        Once again, some random text to lorem lorem lorem lorem ipsum text
        praesent tincidunt ipsum lipsum.
      </p>
    </div>
    <div class="w3-quarter">
      <img
        src="https://images.unsplash.com/photo-1544025162-d76694265947?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80"
        alt="Cherries"
        style="width: 100%"
      />
      <h3>Cherries, interrupted</h3>
      80
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      <p>What else?</p>
    </div>
    <div class="w3-quarter">
      <img
        src="https://images.unsplash.com/photo-1528207776546-365bb710ee93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        alt="Pasta and Wine"
        style="width: 100%"
      />
      <h3>Once Again, Robust Wine and Vegetable Pasta</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
  </div>

  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img
        src="https://images.unsplash.com/photo-1554433607-66b5efe9d304?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
        alt="Popsicle"
        style="width: 100%"
      />
      <h3>All I Need Is a Popsicle</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <img
        src="https://images.unsplash.com/photo-1554520735-0a6b8b6ce8b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
        alt="Salmon"
        style="width: 100%"
      />
      <h3>Salmon For Your Skin</h3>
      <p>
        Once again, some random text to lorem lorem lorem lorem ipsum text
        praesent tincidunt ipsum lipsum.
      </p>
    </div>
    <div class="w3-quarter">
      <img
        src="https://images.unsplash.com/photo-1594041680534-e8c8cdebd659?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80"
        alt="Sandwich"
        style="width: 100%"
      />
      <h3>The Perfect Sandwich, A Real Classic</h3>
      <p>
        Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.
      </p>
    </div>
    <div class="w3-quarter">
      <img
        src="https://images.unsplash.com/photo-1552611052-33e04de081de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
        alt="Croissant"
        style="width: 100%"
      />
      <h3>Le French</h3>
      <p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

  <hr id="about" />

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center">
    <h3>About Me, The Food Man</h3>
    <br />
    <img
      src="https://images.unsplash.com/photo-1573832453281-d57bce49fb70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
      alt="Me"
      class="w3-image"
      style="display: block; margin: auto"
      width="800"
      height="300"
    />
    <div class="w3-padding-32">
      <h4><b>I am Who I Am!</b></h4>
      <h6><i>With Passion For Real, Good Food</i></h6>
      <p>
        Just me, myself and I, exploring the universe of unknownment. I have a
        heart of love and an interest of lorem ipsum and mauris neque quam blog.
        I want to share my world with you. Praesent tincidunt sed tellus ut
        rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies
        congue gravida diam non fringilla. Praesent tincidunt sed tellus ut
        rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies
        congue gravida diam non fringilla.
      </p>
    </div>
  </div>
  <hr />

  <!-- return httprespose(render_to_string('blog/hvf.htm)')) -->
  <footer class="w3-row-padding w3-padding-32">
    <div class="w3-third">
      <h3>FOOTER</h3>
      <p>
        Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum,
        porta lectus vitae, ultricies congue gravida diam non fringilla.
      </p>
      <p>
        Powered by
        <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"
          >w3.css</a
        >
      </p>
    </div>

    <div class="w3-third">
      <h3>BLOG POSTS</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img
            src="https://images.unsplash.com/photo-1565628308934-c731959645f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
            class="w3-left w3-margin-right"
            style="width: 50px"
          />
          <span class="w3-large">Lorem</span><br />
          <span>Sed mattis nunc</span>
        </li>
        <li class="w3-padding-16">
          <img
            src="https://images.unsplash.com/photo-1625540002162-00320b5c6b63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=502&q=80"
            class="w3-left w3-margin-right"
            style="width: 50px"
          />
          <span class="w3-large">Ipsum</span><br />
          <span>Praes tinci sed</span>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-serif">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Travel</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
          >New York</span
        >
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
          >Dinner</span
        >
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
          >Salmon</span
        >
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
          >France</span
        >
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
          >Drinks</span
        >
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
          >Flavors</span
        >
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
          >Cuisine</span
        >
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
          >Chicken</span
        >
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom"
          >Dressing</span
        >
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fried</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fish</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Duck</span>
      </p>
    </div>
  </footer>

  <!-- End page content -->
</div>



{% endblock body %}
